## SPDX-License-Identifier: GPL-2.0-or-later

if BOARD_OCP_SKX_D_CC

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select HAVE_ACPI_TABLES
	select DRIVERS_INTEL_PMC
	select DRIVERS_USB_ACPI	
	select SOC_INTEL_SKYLAKE_D
	select MAINBOARD_USES_FSP2_0
	select VPD

config MAINBOARD_DIR
	string
	default "ocp/skx-d-cc"

config MAINBOARD_PART_NUMBER
	string
	default "SKX-D-CC"

config MAINBOARD_FAMILY
	string
	default "SKX-D-CC"

config MAX_CPUS
	int
	default 8

config FMDFILE
	string
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/board.fmd"

endif # BOARD_OCP_SKX_D_CC
